{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ header }}</h2>
    {% for bookmark in bookmarks %}
        <div class="bookmark {% cycle 'odd' 'even' %}-row">
            {% include "bookmarker/_bookmark.html" %}
        </div>
    {% endfor %}

    {% bootstrap_pagination bookmarks %}

{#    {% if bookmarks.has_previous %}#}
{#        {% url 'index' %} {{ bookmarks.next_page_number }}#}
{#    {% endif %}#}
{##}
{#        {{ bookmarks.number }} {{ bookmarks.paginator.num_pages }}#}
{##}
{#    {% if bookmarks.has_next %}#}
{#        {% url 'index' %} {{ bookmarks.next_page_number }}#}
{#    {% endif %}#}

{% endblock %}
